<div class="login-box">
  <h2>Login</h2>
	<form #meuForm="ngForm" (ngSubmit)="funcao_onSubmit(meuForm)">

		<div class="user-box">
      <input type="text" name="name" required [(ngModel)]="usuario_preenchido.name"> 
      <label>Nome</label><!--Se não colocar ngModel, o Angular não monitora e não sabe que deve enviar essa info-->
    </div>

    <div class="user-box">
			<input type="text" name="email" required email [(ngModel)]="usuario_preenchido.email"> 
			<label>Email</label>
		</div>

		<div class="user-box">
			<input type="text" name="phone" required [(ngModel)]="usuario_preenchido.phone"> 
			<label>Telefone</label>
		</div>

    <div class="user-box">
			<input type="text" name="website" required [(ngModel)]="usuario_preenchido.website"> 
			<label>Website</label>
		</div>
		
		<button type="submit">
			<span></span>
			<span></span>
			<span></span>
			<span></span>Submit
		</button>
	</form>
</div>