<div class="login-box">
  <h2>Login</h2>
	<form #meuForm="ngForm" (ngSubmit)="funcao_onSubmit(meuForm)">
		<div class="user-box">
			<input type="text" name="email" required ngModel> <!--Se não colocar ngModel, o Angular não monitora e não sabe que deve enviar essa info-->
			<label>Email</label>
		</div>
		<div class="user-box">
			<input type="password" name="senha" required ngModel> 
			<label>Senha</label>
		</div>
		
		<button type="submit">
			<span></span>
			<span></span>
			<span></span>
			<span></span>Submit
		</button>
	</form>
</div>